<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
				 http://www.springframework.org/schema/aop 
                 http://www.springframework.org/schema/aop/spring-aop.xsd
				">
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean class="test.java.test.myTest.AspectjTest" />
	<bean id="test" class="test.java.test.myTest.TestBean" />
	
	<bean id="task" class="test.aop1.introduction.Task" scope="prototype"/>

	<bean id="introduceTask" class="org.springframework.aop.framework.ProxyFactoryBean"
		scope="prototype">
		<property name="targetName">
			<value>task</value>
		</property>
		<property name="proxyInterfaces">
			<list>
				<value>test.aop1.introduction.ICounter</value>
				<value>test.aop1.introduction.ITask</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>introductionInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="introductionInterceptor"
		class="org.springframework.aop.support.DelegatingIntroductionInterceptor"
		scope="prototype">
		<constructor-arg>
			<bean class="test.aop1.introduction.CounterImpl">
			</bean>
		</constructor-arg>
	</bean>
</beans>